/* Global changes  */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */

header {
    width: 100vw;
    height: 300px;
    background-image: url('../img/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 30px;
    color:white;
    text-align: center;
    padding: 70px;
    text-shadow: 4px 5px
    10px black;
}

/* Main section */

main {
    margin-top: 100px;
    align-content: center;
}

section {
    margin: 100px 100px;
    align-content: center;
}

section h3 {
    margin: 30px 0px 10px 0px; 
    font-size: 36px;
    text-align: center;
}

section p {
    font-size: 24px;
}

.img {
    position: absolute;
    left: 0%;
    width: 100vw;
    height: 300px;
    background-image: url('/img/data_img.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.charts {
    margin-top: 400px;
}

#chart, #chart2, #chart3 {
    opacity: 0.3;
    transition: .3s;
}

#chart:hover, #chart2:hover, #chart3:hover {
    opacity: 1;
}

/* Footer  */

footer {
    width: 100vw;
    height: 80px;
    background-color: black;
    color:white;
    text-align: center;
}

footer p {
    position: relative;
    top: 50%;
    font-size: 18px;
}